/* css */
/* .btn-click-here:visited{
	background:green;
	
} */
.btn-click-here:hover{
	background-color:#1a1ac3;
	text-decoration: underline;
}
.btn-click-here{
	
	text-decoration:none;
	color:#FFF;
	padding:5px 10px;
	background-color:#4949af;
}
.btn-click-here:active{
	color:#888;
	background-color:red;
}